# Godot 4+ specific ignores
.godot/
/android/

addons/*
!addons/zombie_tools

asset_packs/
assets/
ExampleScene/
examples_*/
exports/
reports/
/sounds/

textures/**/*.png
textures/**/*.png.import

# Working notes
docs/notes.md

*.mesh
